@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Khula:700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color:rgb(244, 241, 236);
}

body{
background-color: rgb(2, 2, 3);
scroll-behavior: smooth;
}

section {
  height:max-content;
  padding-top: 4%;
  position: relative;  
}
section:first-child{
  padding-top: 0;
}
#container>div:first-child>img{
   width: 80%;
   position: absolute;
}
#container>div:nth-child(2){
    position: relative;
    z-index: 0;
    color: rgb(210, 208, 208);
    top: 0;
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(85deg,rgb(0, 0, 0),rgb(17, 17, 19),rgba(16, 32, 47, 0.671), rgba(20, 58, 92, 0.671));
}

#navbar{
  position: fixed;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  background-image: linear-gradient(85deg,rgb(0, 0, 0),rgb(17, 17, 19),rgba(16, 32, 47 ), rgba(20, 58, 92));
}

.ham {
  cursor:pointer;
  display: none;
}

.ham .burger {
  width: 23px;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

 .title {
    display: flex;
    justify-content: space-between;
    color: rgb(197, 191, 191);
    font-size: larger;
  }

  .title>div{
    padding: 5px 20px;
    transition: transform .4s;
    text-align:center;
    font-size: 18px;
  }

  .title>div:hover{
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    box-shadow: #083245 0px 50px 20px -7px;
  }

  /* ////////////////////-------navbar end-----///////////////////// */

  .about-section{
    position: relative;
    padding: 30px 90px;
    height: 80vh;
  }
  #imgbox{
    width: fit-content;
    position: relative;
    height: 80%;
    width: 30%;
    left: 55%;
    top: 30%;
  }
  #imgbox>img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 26px 24px 5px #0e394d;
  }
  #briefinfo{
    border-radius: 8px;
    position: relative;
    top: -40px;
    left: 130px;
    line-height: inherit;
    word-spacing: 6px;
    width: 70%;
    /* width: 47%; */
  }
  #briefinfo>#h1{
    font-size: 4vw;
  }
  .console-container {
    font-family:Khula;
    font-size:3vw;
    display:block;
    color:white;
    margin:auto;
  }
  .console-underscore {
    display:inline-block;
    top:-0.14em;
    left:10px;
  }
  .name_logo h1{
    background: linear-gradient(to right,#02c39a,
    #00b4d8, #90e0ef, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
  }
  
  /* section 2 start */

#proficiency,
#project-start{
    padding-top: 10%;
}

.slideup{
   transform: translateY(100px);
   opacity: 0;
   transition: all 2s ease;
}
#aboutme{
  padding: 10% 90px 0%;
}
#aboutme>h1,
#project-start>h1,
#proficiency>h1{
    margin-bottom: 50px;
    font-size: 3vw;
}
#project-start>h1{
  margin-bottom: 100px;
}
.scrollup{
  transform: translateY(0);
  opacity: 1;
}

.glow {
    word-spacing: 8px;
    color: #fff;
    text-align: center;
    font-size: 35px;
}

.glow:hover{
    text-shadow: 0 0 5px #135d7d, 0 0 20px   #135d7d;
}

#aboutme-box{
    width: 70%;
    margin: auto;
}
#aboutme-box>p{
  margin-bottom: 5%;
  font-size: 1.8vw;
}
#aboutme-box>p:first-child{
  font-size: 2vw;
  color: #135d7d;
  text-align: center;
}
#aboutme-box>p:first-child span{
  color: white;
}
#aboutme-box>div{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 8%;
}
#aboutme-box>div a{
  width: 50px;
  height: 50px;
  background-color: #083245cc;
  text-align: center;
  font-size: 25px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  position: relative;
  overflow: hidden;
  border: 3px solid #083245cc;
  z-index: 1;
}
#aboutme-box>div a .icon {
  position: relative;
  color: #FFFFFF;
  transition: .5s;
  z-index: 3;
}
#aboutme-box>div a:hover .icon {
  color: #0e394d;
  transform: rotateY(360deg);
}
#aboutme-box>div a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: .5s;
  z-index: 2;
}
#aboutme-box>div a:hover:before {
  top: 0px;
}

/* section 3 start */

#proficiency_icon{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,18%);
    column-gap: 25px;
    row-gap: 50px;
    align-items: center;
    margin-top: 80px;
}
.p_icon{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #083245;
}
.p_icon img{
    width: 100px;
    transition: .5s;
}
.p_icon h3{
    position: relative;
    bottom: 16px;
}
.p_icon:hover img{
  transform: rotateY(180deg);
}
.p_icon:hover{
  box-shadow: #135d7d 0px 20px 30px -10px;
}
 
               /* guthub stats */

  .stats{
    margin-top: 6%;
  }      
  .parentstats{
    width: 70%;
    margin: auto;
  }       

  /* section4 start */

  .project-{
    display: flex;
    width: 70%;
    margin: auto;
    height: 250px;
    margin-bottom: 15%;
    border-radius: 10px;
  }

  .imgclass{
    position: absolute;
    width: 45%;
    z-index: 1;
    border-radius: 10px;
  }

  .imgclass>img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    -webkit-mask-image: linear-gradient(to right, black, transparent);
  }

  .slide {
    /* border: 1px solid white; */
    position: relative;
    width: 50%;
    z-index: 2;
    top: 2vw;
    color: whitesmoke;
    height: 20vw;
    text-align: left;
  }
  .slido1{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .slido1 h2{
    font-size: 2vw;
    padding-bottom: 3%;
    padding-right: 3%;
    background: linear-gradient(to right,#02c39a,
                    #00b4d8, #90e0ef, #eedd44);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
  }
  .slide p{
    font-size: 1.3vw;
  }
  .techstack{
    margin-top: 2%;
    display: flex;
    justify-content: left;
    gap: 10px;
  }
  .techstack>div{
    padding: 1.5% 5%;
    background-color: #083245;
  }

  .slide.right{
    left: 50%;
    transform: translate3d(-50%,0,0);
    opacity: 0;
    transition: all 2s ease;
  }

  .slide.left{
    transform: translate3d(170px,0,0);
    opacity: 0;
    transition: all 2s ease;
  }

  .right.active,
  .left.active{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
  .imgone{
    right: 180px;
  }
  .imgone img{
    -webkit-mask-image: linear-gradient(to left, black, transparent);
  }
  .worklink{
    display: flex;
    position: absolute;
    /* margin: 50px 0 0; */
    bottom: 0%;
    right: 0;
  }
  
  #leftside{
    left: 0;
  }
  .githublink{
    width: 40px;
    border-radius: 50px;
    transition: .5s ease;
    text-align: center;
  }
  .githublink:hover{
    box-shadow: rgb(28, 57, 130) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 10px 3px;}
  
  .githublink i{
    width: 100%;
  }

  .fa-github{
    font-size: 2.5vw;
  }
  
  .button , #resumelink {
    background-color: #08324546;
    box-shadow: #135d7d 0px 20px 30px -10px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 7px 20px;
    width: max-content;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  #resumelink{
    height: 3rem;
    width: 8rem;
    margin: 0;
    margin-top: 15px;
    background-color: #135d7d;
    border-radius: 4px;
  }
  #resumelink span{
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
  }
  .button span ,#resumelink span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span:after, #resumelink span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span, #resumelink:hover span {
    padding-right: 25px;
  }
  .button:hover span:after, #resumelink:hover span:after {
    opacity: 1;
    right: 0;
  }
  #resumelink:hover{
    background-color: #062b3b;
  }

  /* section 5 start */

  .contact{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
  }
  #abc{
    font-size: larger;
    color: rgb(190, 190, 190);
  }
  #abc>button{
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: #135d7d;
    border-radius: 5px;
  }
  #abc>button:hover{
    box-shadow: #135d7d 0px 20px 30px -10px;
  }
  #abc a{
    text-decoration: none;
    color:rgb(244, 241, 236);
  }

  #def{
    padding-top: 150px;
  }
 
  .contactlogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .contactlogo>div:first-child{
    border-radius: 10px;
    box-shadow: #135d7d 0px 20px 30px -10px;
  }
  
  .contactlogo>div:first-child:hover{
    box-shadow: 0 0 10px #083245;
  }
  .contactlogo>div:nth-child(2){
    margin-left: 20px;
  }

  .iconsticky {
    font-size: 30px;
    position: fixed;
    bottom: 2em;
    right: 2em; 
    opacity: 0;
    transition: all 2s ;
  }

.iconsticky.arrow{
  opacity: 1;
}

.iconsticky i{
  -webkit-animation: i 1s ease-in-out infinite alternate;
    -moz-animation: i 1s ease-in-out infinite alternate;
    animation: i 1s ease-in-out infinite alternate;
}

@-webkit-keyframes  i {
  from {
    text-shadow: rgb(255, 255, 255) 0px 19px 38px, rgba(255, 255, 255, 0.22) 0px 15px 12px;
  }
  to {
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}



@media all  and (max-width: 900px) {

 #container>div:first-child>img{
  width:100%;
  height: 100vh;    
}

 section{
  height: max-content;
  padding: 0;
  padding-top: 40px;
 }
 section:first-child{
  padding: 0;
 }

 #section2 .slideup{
  transition: opacity 2s ease;
  transform: none;
 }

  /* nav start */  

  .ham{
   display: block;
 }
 
 .ham.active .burger:nth-child(2) {
   opacity: 0;
 }
 
 .ham.active .burger:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
 }
 
 .ham.active .burger:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
 }
 
 #navbar {
   padding: 20px 90px;
 }
 
  #navbar .title{
   position: fixed;
   left: -150%;
   top: 69px;
   gap: 10px;
   flex-direction: column;
   text-align: center;
   width: 100vw;
   height: 98vh;
   justify-content: center;
   background-image: linear-gradient(85deg,rgb(0, 0, 0),rgb(17, 17, 19),rgba(16, 32, 47 ), rgba(20, 58, 92));
   transition: 0.5s;
 }
 
 #navbar .title.active{
   left: 0;
 } 
 
 /* brief and image */

 #imgbox{
   height: 60%;
   width: 50%; 
   left: 50%;
   top: 50%;
 }
 #briefinfo{
   top: -30%;
   left: 10%;
   line-height: 45px;
   word-spacing: 6px;
 }
 #briefinfo>#h1{
   font-size: 8vw;
 }
 #briefinfo #name{
  display: inline-block;
  font-size: 5vw;
 }
 .console-container {
   font-size:3vw;
   line-height: 30px;

 }
 #resumelink{
  height: 2rem;
  width: 6rem;
  margin: 0;
  margin-top: 15px;
  background-color: #135d7d;
  border-radius: 4px;
  padding: 0;
  padding-top: 10px;
}
#resumelink span{
  font-size: 100%;
  transform: translate(-0%,-30%);
}

 /* section-2 start */

 #aboutme{
  height: fit-content;
  padding: 80px 40px 40px 40px;
 }
 #aboutme>h1,
#project-start>h1,
#proficiency>h1{
  font-size: 4vw;
 }
 #aboutme-box{
  width: 80%;
 }
 #aboutme-box>div a{
  border-radius: 50%;
  height: 40px;
  padding: 20px;
  font-size: 4vw;
 }

 /* section3 start */

 #proficiency_icon{
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 3px;
  margin-top: 0;
}
.p_icon h3{
  font-size: 2vw;
}
.p_icon>img{
  width: 80px;
}
.stats img {
  width: 70%;
}

 /* section4 start */

 #project-start{
  display: flex;
  flex-direction: column;
 }
 .project-{
  position: relative;
  height: 220px;
  box-shadow: rgba(34, 116, 209, 0.945) 0px 5px 15px;
  margin-bottom: 45%;
 }

.imgclass{
  display: block;
  width: 100%;
  height: inherit;
}
.imgclass>img{
  height: 100%;
  -webkit-mask-image: none;
}

.blur {
  position: relative;
  top: 105%;
  height: 220px;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  filter: blur(5px);
  -webkit-filter:blur(5px);
}
.slide {
  position: absolute;
  top: 105%; 
  background: rgba(0, 0, 0, 0.7);  
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.button{
  color: #fff;
}

.slide.right,
.slide.left{
  left: 0;
  transform: none;
  opacity: 1;
  transition: .5s ease;
}
.imgone{
  right: 0;
}

.slide>div{
  display: flex;
  flex-direction: column;
  position: absolute;
}
.slido1{
  justify-content: center;
  align-items: center;
 
}
.slido1 h2{
  font-size: 3vw;
  padding: 3%;
}
.slide p{
  width: 70%;
  margin: auto;
  font-size: 1.5vw;
}
.techstack{
  justify-content: center;
  font-size: 1.5vw;
}
.techstack>div{
  padding: 1% 3%;
  background-color: #083245;
}
.worklink{
  bottom: initial;
  position: static;
  transform: translate(69%,0%);
}
.githublink{
  width: 8%;
}

 /* section5 start */

 .contact{
  height: 70vh;
  margin-top: 18%;
  display: block;
  }
  #abc h1{
    display: block;
  }
  #def{
    padding: 10% 12%;
  }

 }



@media all and (max-width: 500px) {

  #container>div:first-child>img{
    width:100%;
    height: 100vh;    
 }
 section{
  height: max-content;
  padding: 0;
  padding-top: 6vw;
 }
 section:first-child{
  padding: 0;
  margin-bottom: 10%;
 }
 section:nth-child(2){
  padding-top: 18vw;
 }

 /* nav start */
  
 .ham{
  display: block;
}

.ham.active .burger:nth-child(2) {
  opacity: 0;
}

.ham.active .burger:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.ham.active .burger:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

#navbar {
  padding: 20px 50px;
}

 #navbar .title{
  position: fixed;
  left: -150%;
  top: 69px;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  width: 100vw;
  height: 99vh;
  justify-content: center;
  background-image: linear-gradient(85deg,rgb(0, 0, 0),rgb(17, 17, 19),rgba(16, 32, 47 ), rgba(20, 58, 92));
  transition: 0.5s;
}

#navbar .title.active{
  left: 0;
}

/* brief and image */

.about-section{
  top: 0;
  height: fit-content; 
  padding: 30px 40px;
 }
#imgbox{
  margin-top: 70px;
   height: 50%;
   width: 60%; 
   left: 30%;
   top: 20%;
 }
 #imgbox img{
  height: 100%;
 }
#briefinfo{
  top: -3%;
  left: 3%;
  line-height: 40px;
  word-spacing: 4px;
}
#briefinfo>#h1{
  font-size: 8vw;
}
#briefinfo #name{
 display: inline-block;
 font-size: 6vw;
}
.console-container {
  line-height: 10px;
  word-spacing: 3px;
  font-size:4vw;
}

/* section2 */

#aboutme{
  padding: 0px 30px 10px;
}
#aboutme>h1,
#project-start>h1,
#proficiency>h1{
  font-size: 5.5vw;
  margin-bottom: 5vw;
 }
#aboutme-box{
  width: 85%;
}
#aboutme-box p{
  font-size: 3.5vw;
}
#aboutme-box>p:first-child{
  font-size: 4vw;
  color: #135d7d;
  text-align: center;
}
#aboutme-box>div {
  width: 70%;
}
#aboutme-box>div a{
  width: 30px;
  height: 30px;
  padding: 10px;
 }

/* section3 start */

#proficiency_icon{
  grid-template-columns:repeat(2,2fr);
  grid-template-rows: repeat(5,2fr);
  column-gap: 5vw;
  margin-top: 60px;
}
.p_icon h3{
  font-size: 4vw;
}
.stats img {
  width: 90%;
}
.stats{
  margin-top: 15%;
}

 /* section 4 start */

 .project-{
  height: 150px;
 }
.slido1 h2{
  font-size: 4vw;
}
.slide p{
  width: 80%;
  font-size: 2vw;
}
.techstack{
  justify-content: center;
  font-size: 2vw;
}
.button{
  font-size: 2vw;
}

/* section5 start */

 .contact{
  height: 80vh;
  margin-top: 18%;
  display: block;
  }
  #abc h1{
    display: block;
  }
  #def{
    padding: 10% 11%;
  }
  #def h4{
    font-size: 3.5vw;
  }
}

